In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv("monthly_sales.csv")
df1

      Month  Total Units Sold  Total Revenue ($) % Change (Month-over-Month)
0   January             10000            3500000                           -
1  February             10500            3675000                         +5%
2     March             11000            3850000                       +4.8%
3     April             10800            3780000                       -1.8%
4       May             11500            4000000                       +5.8%
5      June             11300            3950000                       -1.3%
6      July             12000            4100000                       +3.8%
7    August             11800            4000000                       -2.4%

In [3]:
df1['Total Revenue ($)'].sum()

30855000

In [4]:
df2 = pd.read_csv("sales_product_cat.csv")
df2

,Product Category,Product Name,Units Sold,Revenue ($),% Change (Month-over-Month)
0,Electronics,Smart TV,1500,450000,+10%
1,Electronics,Laptop,1200,850000,+5%
2,Electronics,Smartphone,2000,1200000,-2%
3,Home Appliances,Refrigerator,700,400000,+8%
4,Home Appliances,Washing Machine,500,200000,-3%
5,Home Appliances,Microwave,900,150000,+15%
6,Furniture,Sofa,300,90000,+20%
7,Furniture,Dining Table,150,80000,+12%
8,Furniture,Bed Frame,250,130000,+7%

In [5]:
df2['Revenue ($)'].sum()

3550000

In [6]:
df3 = pd.read_csv("sales_by_region.csv")
df3

,Region,Total Revenue ($),Top-Selling Product,Units Sold,% Change (Month-over-Month)
0,North America,1500000,Smartphone,800,+5%
1,Europe,1200000,Laptop,600,+8%
2,Asia-Pacific,800000,Smart TV,900,-2%
3,South America,350000,Refrigerator,300,+10%
4,Africa,250000,Sofa,150,+12%

In [7]:
df3['Total Revenue ($)'].sum()

4100000